/* game board table */
h1 {
  text-align: center;
  display: inline-block;
  width: 400px;
  font-family: 'Allerta Stencil';
  font-size: 45px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Allerta Stencil';
  font-size: 16px;
  box-shadow: 0px 5px 5px rgb(48, 47, 47);
}

button:hover {
  background-color:  #216624;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1ps blue;
  border-radius: 50%;
  background-color: rgb(241, 237, 237);
  box-shadow: inset 2px 2px 3px black;
}

/* #board {
  border: solid 10px darkblue;
  background-color: rgb(84, 169, 197);
  border-bottom: solid 20px darkblue;
  border-top: solid 2px darkblue;  
  
} */

/* pieces are div within game table cells: draw as colored circles */
.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  
  /* position: absolute; */
  animation-name: fall-animation;
  animation-duration: 500ms;
  box-shadow: 0px 5px 5px rgb(48, 47, 47);
  
}

@keyframes fall-animation {
from {
    transform: translateY(-300px);
}
to {
    transform: translateY(0);
}
}


html {
  background-image: url('stillness-inmotion-5N75xeV9x9Q-unsplash.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.whichPlayer {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 45px;
  background-color: lightgoldenrodyellow;
  margin: 15px;
  
  /* border: solid 4px darkmagenta; */
  font-family: 'Allerta Stencil';
}

.key {
  text-align: center;
  display: inline-block;
  width: 350px;
  height: 35px;
  background-color: rgb(192, 214, 221);
  margin: 15px;
  
  /* border: solid 2px darkmagenta; */
  font-family: 'Allerta Stencil';

}



.p1 {
  background-color: yellow;
  /* border: solid 3px rgb(167, 167, 13); */
}

.p2 {
  background-color: red;
  /* border: solid 3px rgb(143, 3, 3); */
}

.container {
  text-align: center;
}

#game {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(29, 29, 124);
}





/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
  text-align: center;
  color: gray;
  background-color: white;
  font-weight: 300;
  font-size: larger;
  /* border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
}


#column-top td:hover {
  background-color: gold;
}
